<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Azure" 
         providerName="System.Data.SqlClient"
         connectionString= "Server=tcp:cryptoqueryapi2018dbserver.database.windows.net,1433;Initial Catalog=CryptoQuery2018DataBaseOnAzure;Persist Security Info=False;User ID=csqdaL25!;Password=Franky94!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=180;" />

    <add name="LocalHost" 
         providerName="System.Data.SqlClient" 
         connectionString="Server = localhost\MSSQLSERVER2017;Database = CryptoQuery; Trusted_Connection = True;" />
  </connectionStrings>
</configuration>